In [41]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv("Maternal Health Risk Data Set.csv")

In [25]:
risk_level = df['RiskLevel']

In [26]:
##high risk , mid risk, low risk

In [27]:
dummies = pd.get_dummies(risk_level)

In [28]:
df = pd.concat([df, dummies], axis=1)

In [33]:
df.drop('RiskLevel', axis = 1, inplace = True)

In [34]:
df.to_csv("One hot encoded.csv", index = False)

In [35]:
## There are 3 possible values which are high risk, low risk and midrisk
df['high risk'] = df['high risk'].astype(int)
df['low risk'] = df['low risk'].astype(int)
df['mid risk'] = df['mid risk'].astype(int)
df

,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate,high risk,low risk,mid risk
0,25,130,80,15.0,98.0,86,1,0,0
1,35,140,90,13.0,98.0,70,1,0,0
2,29,90,70,8.0,100.0,80,1,0,0
3,30,140,85,7.0,98.0,70,1,0,0
4,35,120,60,6.1,98.0,76,0,1,0
...,...,...,...,...,...,...,...,...,...
1009,22,120,60,15.0,98.0,80,1,0,0
1010,55,120,90,18.0,98.0,60,1,0,0
1011,35,85,60,19.0,98.0,86,1,0,0
1012,43,120,90,18.0,98.0,70,1,0,0
1013,32,120,65,6.0,101.0,76,0,0,1

In [38]:
num_classes = 3
num_features  = df.shape[1]-num_classes ## Since there are 3 possible output values

In [47]:
W = np.random.randn(num_classes, num_features)   # (K, d)
b = np.random.randn(num_classes)      # (K,)

x = np.random.randn(num_features)      # (d,)

scores = b + W @ x
scores

array([ 3.03975967,  0.79961391, -0.22241578])

In [48]:
def softmax(logits):
    """
    Computes the softmax activation for a given array of logits.

    Args:
        logits (np.ndarray): A 1D or 2D NumPy array of raw scores (logits).

    Returns:
        np.ndarray: A NumPy array representing the probability distribution.
    """
    # Subtract the maximum value for numerical stability to prevent overflow
    # when computing the exponential of large numbers.
    exp_logits = np.exp(logits - np.max(logits, axis=-1, keepdims=True))
    
    # Divide by the sum of exponentials to normalize into a probability distribution.
    probabilities = exp_logits / np.sum(exp_logits, axis=-1, keepdims=True)
    
    return probabilities

In [50]:
scores_prob = softmax(scores)
scores_prob

array([0.87355473, 0.09298378, 0.03346149])